.u-section-1 .u-sheet-1 {
  min-height: 2042px;
}

.u-section-1 .u-text-1 {
  margin: 44px auto 0;
}

.u-section-1 .u-line-1 {
  margin-top: 32px;
  margin-bottom: 0;
  transform-origin: left center;
}

.u-section-1 .u-text-2 {
  margin: 32px 0 53px;
}